
* {
    margin: 0;
    padding: 0;
}

html {
    /* font-family:"Helvetica Neue",sans-serif !important; */
    scroll-behavior: smooth;
    font-family: "Roboto", sans-serif;
}

ul {
    padding-left: 0px;
    margin: 0px;
}

:root {
    --background-color: rgb(242, 111, 33);
}