* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  font-weight: bold;
}

button {
  font-weight: bold;
}

.clear {
  clear: both;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.introduce {
  width: 100%;
  height: 1600px;
  background-color: rgb(233, 233, 233);
  position: relative;
}
.introduce ul{list-style-type: square;}


.introduce-title {
  width: 100%;
  height: auto;
  text-align: center;
  margin: 20px auto;
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 24px;
}

.introduce-title__desc {
  margin: 0 auto;
  color: orangered;
}

.introduce__content-wrapper {
  display: flex;
  position: relative;
}

.introduce-head {
  padding: 40px;
  width: 70%;
  height: auto;
  position: absolute;
  top: 60px;
  left: 10px;
  border-right: 2px solid gray;
}

.introduce-head__member {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
  padding-left: -20px;

}

.introduce-head__image {

  border: 0.1875em solid #0F1C3F;
  border-radius: 50%;
  height: 180px;
  width: 180px;

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.introduce-head__title {
  font-size: 22px;
  font-weight: 500;
  text-decoration: underline;
  color: red;
}

.introduce-head__title--font {
  font-size: 20px;
  color: blue;
  margin: 10px auto;
  padding: 10px;
}

.introduce-head__desc {
  margin: 10px auto;
  font-size: 16px;
  font-weight: 300;
}

.introduce li {
  margin-left: 30px;
}

.introduce-menu {
  padding: 20px;
  width: 28%;
  border: #0F1C3F;
  position: absolute;
  top: 60px;
  right: 0px;
}

.introduce-menu__title {
  font-size: 22px;
  font-weight: 700;
  color: red;
}

.introduce-menu__desc-link {
  margin: 10px auto;
}




.introduce__footer {
  /* margin-top: 200px; */
}