

div.fund-item-wrap{
    color: orange;
}

div.fund-item-wrap:nth-child(n + 4) {
    /* color: green; */
    margin-top: 300px;
}

.donate_token_btn {
    cursor: pointer;
}

/* div.fund-item-wrap:nth-child(2) {
    color: red;
}
div.fund-item-wrap:nth-child(3) {
    color: red;
} */